*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 375px;
  height: 812px;
  margin: auto;
  background-color: #0E5A8A;
  overflow: hidden;
}
h3{
  font-size: 14px;
  line-height: 19px;
  width: 100px;
  margin-left: 11.8px;
}
h2{
  font-size: 23px;
  width: 75px;

}
strong{
  font-weight: 800;
  line-height: 22px;
  color: #0E5A8A;
}
h4{
  font-size: 14px;
  line-height: 17px;
  width: 100px;
  padding-left: 13px;
}

/* scrollbox */

.urgent{
  color: red;
}
.chevron{
  float: right;
  padding-right: 17px;
  padding-left: 40px;
  padding-top: 5px;
}
.navbar-info {
  z-index: 3;
  padding: 15px 0;
  display: flex;
  line-height: 20px;
}
.navbar-info li{
  z-index: 3;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.descriptionbanner{
  align-content: center;
  z-index: 2;
  position: relative;
  width: 100%;
  height: 52px;
  color: white;
  background-color: inherit;
  display: inline-block;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.descriptionbanner li{
  z-index: 3;
  display: inline-block;
  padding-left: 20px;
  padding-right: 25px;
  color: white;
  line-height: 50px;
}
#line{
  padding-left: 36px;
}
.map{
  z-index: 1;
  height: 100%;
  align: center;
  width: 375px;
  height: 393px;
  overflow: hidden;

}
.chevron{
  float: right;
}
.container {
  position: relative;
  width: 375px;
  background-color: white;
}
.scrollable{
  background-color: white;
  z-index: 0;
  width: 375px;
  height: 305px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.busInfo {
  align-items: center;
  width: 370px;
  height: 64px;
  display: flex;
  background-color: white;
  border-bottom: 2px solid rgba(117, 117, 117, 0.27) ;
  padding: 6px;
}
.chevron{
padding: 24px;
margin: 20px;
}
#nav{
  z-index: 2;
  width: 375px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 33px rgba(0, 0, 0, 0.25);
}
